/*Animation for Contributor Logins*/
.group {
  position:relative;
  margin-bottom:45px;
}
.inp {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color: teal;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: teal;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}

/*Extra styles for the Authorization*/
.popupContainer{
  position:relative;
  width:340px;
  height: auto;
  left:40%;
  /*top:80px; If position:relative then don't need this*/
  border-radius: 0.35em;
  border: 1px solid #802C73;
  /*background: #E6E6E6;
  background: #CFCFCF;*/
  background: #FFFFFF;
}
.popupHeader {
  font-size:16px;
  text-transform: uppercase;
  background: #802C73;
  position:relative;
  padding:10px 20px;
  border-bottom:1px solid #802C73;
  font-weight:bold;
  border-top-left-radius: 0.18em;
  border-top-right-radius: 0.18em;
}
.popupHeader-title {
  color: #FFFFFF;
}
.popupBody {
  padding:20px;
}
