body {
    font-family: Verdana,Helvetica,sans-serif;
}

h1 {
    text-align: center;
    font-size: 150%;
    font-weight: normal;
}

h2 {
    font-size: 120%;
    font-weight: normal;
}

#faulty_squall pre {
    line-height: 30%;
}

.indent {
    margin-left: 4em;
}


/* Menu */
#menu {
    position:relative;
    display:block;
    height:39px;
    font-size:11px;
    font-weight:bold;
    background:transparent url(images/bgOFF.png) repeat-x top left;
    border-top:4px solid #B30000;
}

#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    width:auto;
}

#menu ul li {
    display:block;
    float:left;
    margin:0;
}

#menu ul li a {
    display:block;
    float:left;
    color:#666;
    text-decoration:none;
    padding:11px 20px 0 20px;
    height:23px;
    background:transparent url(images/bgDIVIDER.png) no-repeat top right;
}

#menu ul li a:hover, #menu ul li a.current {
    color:#B30000;
    background:#fff url(images/bgON.png) no-repeat top right;
}